[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# PyTorch specific index for CUDA support
[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch"

[packages]
opencv-python = "*"
numpy = "*"
scipy = "*"
pillow = "*"
imagehash = "*"
# Specifying the index ensures it pulls the GPU-enabled version
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}

[dev-packages]
jupyterlab = "*"
matplotlib = "*"

[requires]
python_version = "3.10"